In [3]:
# Dataframes
x <- 6:10
y <- 11:15
z <- c("one", "two", "three", "four", "five")
df <- data.frame(x, y, z)
df

  x  y  z
1  6 11 one
2  7 12 two
3  8 13 three
4  9 14 four
5 10 15 five

In [4]:
# dataframe segments
head(df, 2)
tail(df, 2)

  x y  z
1 6 11 one
2 7 12 two

  x  y  z
4  9 14 four
5 10 15 five

In [6]:
# indexing: goes row by columns
df[2, 3]

# specified rows (obs)
df[2:4,]

# true columns
df[, c(TRUE, TRUE, FALSE)]

[1] "two"

  x y  z
2 7 12 two
3 8 13 three
4 9 14 four

  x  y
1  6 11
2  7 12
3  8 13
4  9 14
5 10 15

In [9]:
# Accessing columns
df$y 

df[, c("x", "z")]

mean(df$y)

[1] 11 12 13 14 15

  x  z
1  6 one
2  7 two
3  8 three
4  9 four
5 10 five

[1] 13

In [15]:
# lists
l <- list(
    p = "This is a list",
    q = 4:6,
    r = matrix(1:9, nrow = 3),
    s = data.frame(x = c(1, 4, 9))
)

l

l[[1]]
l[["r"]]

$p
[1] "This is a list"

$q
[1] 4 5 6

$r
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

$s
  x
1 1
2 4
3 9

[1] "This is a list"

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9